.task-item {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0 0 5px #0104;
   transition-property: box-shadow;
}
.task-item:hover { box-shadow: 0 0 10px #888c; }
.task-item.pending { background-color: #eee8dd; }
.task-item.ongoing { background-color: orange; }
.task-item.done { background-color: greenyellow; }

.task-item.done .text { text-decoration: line-through; }

.task-item .text {
   position: relative;
   flex: 1 1;
   display: flex;
   overflow-x: hidden;
}
.task-item .text::-webkit-scrollbar { display: none; }
.task-item .text.scroll {
   text-decoration: underline;
   cursor: pointer;
}
.task-item .text.scroll::after {
   position: absolute;
   content: '...';
   right: 0;
   bottom: 0;
   background-color: #eee8dd;
}
.task-item.ongoing .text.scroll::after { background-color: orange; }
.task-item.done .text.scroll::after { background-color: greenyellow; }

.task-item .edit-task-btn {
   background: none;
   border: none;
   cursor: pointer;
}
.task-item .edit-task-btn svg {
   opacity: .5;
   transition-property: opacity;
}
.task-item .edit-task-btn:hover svg { opacity: 1; }

.task-item .state {
   background-color: transparent;
   border: solid 1px transparent;
   border-bottom-color: #000;
   padding: 5px;
   cursor: pointer;
}
.task-item .remove-btn {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: none;
   background-color: transparent;
   color: #000;
   font-size: 1.5rem;
   transition-property: color, background-color;
   cursor: pointer;
}
.task-item .remove-btn:hover {
   background-color: #f44;
   color: #fff;
}