<div class="container">
  <header>
    <img id="logo" src="../logo.png" />

    <task-adder [taskList]="taskList"></task-adder>
  </header>

  <button id="sort-list" [disabled]="disableSortBtn" (click)="sortTasks()">Ordenar Tareas</button>

  <ul id="task-list">
    <task *ngFor="let task of taskList" 
      [task]="task" [taskList]="taskList"
      (removeTaskEvent)="removeTask($event)"></task>
  </ul>

  <footer>
    <clear-list (removeEvent)="removeTasks($event)"></clear-list>
  </footer>
</div>